body {
  margin: 0;
  text-align: center;
  font-family: monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  margin-top: 150px;
}

a {
  text-decoration: none;
}

.switch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#nav {
  position: fixed;
  width: 100vw;
}